<!DOCTYPE html>
<html layout:decorate="~{layoutConShare}">
<head>
<meta charset="UTF-8">
<title>Chat Aberto!</title>


<link href="/resources/css/chatcss.css" rel="stylesheet">
</head>
<body>

	<div layout:fragment="body">

		<div id="layoutAuthentication">
			<div id="layoutAuthentication_content">
				<hr>
				<main>
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-7">
								<div class="card shadow-lg border-dark rounded-lg mt-2">
									<div class="card-header mt-0">
										<h3 class="text-center font-weight-dark mt-0">Digite uma
											mensagem:</h3>
									</div>
									<div class="card-body">
										<form>
										
										
											<div class="page-content page-container" id="page-content">
												<div class="padding">
													<div class="row container d-flex justify-content-center">
														<div class="col-md-40">
															<div
																class="box box-warning direct-chat direct-chat-warning">
										
																<div class="box-body">
																	<div class="direct-chat-messages">
																		<div class="direct-chat-msg">
																			<div class="direct-chat-info clearfix">
																				<span class="direct-chat-name pull-left">Timona
																					Siera</span> <span
																					class="direct-chat-timestamp pull-right">23
																					Jan 2:00 pm</span>
																			</div>
																			<img class="direct-chat-img"
																				src="https://img.icons8.com/color/36/000000/administrator-male.png"
																				alt="message user image">
																			<div class="direct-chat-text">For what reason
																				would it be advisable for me to think about business
																				content?</div>
																		</div>
																		<div class="direct-chat-msg right">
																			<div class="direct-chat-info clearfix">
																				<span class="direct-chat-name pull-right">Sarah
																					Bullock</span> <span
																					class="direct-chat-timestamp pull-left">23
																					Jan 2:05 pm</span>
																			</div>
																			<img class="direct-chat-img"
																				src="https://img.icons8.com/office/36/000000/person-female.png"
																				alt="message user image">
																			<div class="direct-chat-text">Thank you for
																				your believe in our supports</div>
																		</div>
																		<div class="direct-chat-msg">
																			<div class="direct-chat-info clearfix">
																				<span class="direct-chat-name pull-left">Timona
																					Siera</span> <span
																					class="direct-chat-timestamp pull-right">23
																					Jan 5:37 pm</span>
																			</div>
																			<img class="direct-chat-img"
																				src="https://img.icons8.com/color/36/000000/administrator-male.png"
																				alt="message user image">
																			<div class="direct-chat-text">For what reason
																				would it be advisable for me to think about business
																				content?</div>
																		</div>
																		<div class="direct-chat-msg right">
																			<div class="direct-chat-info clearfix">
																				<span class="direct-chat-name pull-right">Sarah
																					Bullock</span> <span
																					class="direct-chat-timestamp pull-left">23
																					Jan 6:10 pm</span>
																			</div>
																			<img class="direct-chat-img"
																				src="https://img.icons8.com/office/36/000000/person-female.png"
																				alt="message user image">
																			<div class="direct-chat-text">I would love to.
																			</div>
																		</div>
																	</div>
																</div>
																<div class="box-footer">
																	<form action="#" method="post">
																		<div class="input-group">
																			<input type="text" name="message"
																				placeholder="Type Message ..." class="form-control">
																			<span class="input-group-btn">
																				<button type="button"
																					class="btn btn-warning btn-flat">Send</button>
																			</span>
																		</div>
																	</form>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											
											
										</form>
									</div>

									<div class="progress"></div>
								</div>
							</div>
						</div>
					</div>



				</main>

			</div>


		</div>


	</div>

</body>
</html>