<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Documento recomendados</title>
<link href="/resources/css/styles.css" rel="stylesheet">
</head>
<body>
	<div layout:fragment="body">

		<h1 id="titlepagescollavoration">Links Recomendados</h1>



		<div class="card" id="card-design-recomend-doc-collaboration">
			<div class="row">
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Data de publicaçao:</h6>
					<p>04/05/2020</p>
				</div>
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Publicado por:</h6>
					<p>Eqipe ConShare</p>
				</div>
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Disciplina:</h6>
					<p>Geografia</p>
				</div>
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Assunto:</h6>
					<p>Relevo Brasileiro</p>
				</div>
				<div class="col">
					<a href="https://sites.google.com/site/geografiadobr/relevo-brasileiro"
						class="btn btn-outline-secondary btn-lg mt-2" role="button"
						aria-pressed="true" id = "btn-recomended-doc" >Visualizar Link</a>

				</div>
			</div>
		</div>

		<div class="card" id="card-design-recomend-doc-collaboration">
						<div class="row">
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Data de publicaçao:</h6>
					<p>27/07/2020</p>
				</div>
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Publicado por:</h6>
					<p>Equipe ConShare</p>
				</div>
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Disciplina:</h6>
					<p>Matemática</p>
				</div>
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Assunto:</h6>
					<p>Progressao Aritmetica</p>
				</div>
				<div class="col">
					<a href="https://www.estrategiaconcursos.com.br/blog/progressao-aritmetica-e-progressao-geometrica-aplicacao-em-concursos/"
						class="btn btn-outline-secondary btn-lg mt-2" role="button"
						aria-pressed="true" id = "btn-recomended-doc" >Visualizar Link</a>

				</div>
			</div>
		</div>


		<div class="card" id="card-design-recomend-doc-collaboration">
						<div class="row">
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Data de publicaçao:</h6>
					<p>08/05/2019</p>
				</div>
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Publicado por:</h6>
					<p>Equipe ConShare</p>
				</div>
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Disciplina:</h6>
					<p>Português</p>
				</div>
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Assunto:</h6>
					<p>Acento Grave</p>
				</div>
				<div class="col">
					<a href="https://www.normaculta.com.br/palavras-com-acento-grave/#:~:text=Graficamente%20representado%20por%20um%20tra%C3%A7o,%C3%A0%20(a%20%2B%20a)%3B"
						class="btn btn-outline-secondary btn-lg mt-2" role="button"
						aria-pressed="true" id = "btn-recomended-doc" >Visualizar Link</a>

				</div>
			</div>
		</div>


		<div class="card" id="card-design-recomend-doc-collaboration">
						<div class="row">
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Data de publicaçao:</h6>
					<p>19/09/2019</p>
				</div>
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Publicado por:</h6>
					<p>Equipe ConShare</p>
				</div>
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Disciplina:</h6>
					<p>História</p>
				</div>
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Assunto:</h6>
					<p>Revolução Francesa</p>
				</div>
				<div class="col">
					<a href="https://www.politize.com.br/revolucao-francesa/"
						class="btn btn-outline-secondary btn-lg mt-2" role="button"
						aria-pressed="true" id = "btn-recomended-doc" >Visualizar Doc</a>

				</div>
			</div>
		</div>


	</div>

</body>
</html>